.movies{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    .error{
        display: flex;
        justify-content: center;
    }
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15vh;
    margin-top: 2em;
}
.filters{
    margin: 1em 10%;
}